<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>random</td>
            <td>data</td>
            <td>placeholder</td>
            <td>text</td>
        </tr>
        </tbody>
    </table>
</div>

<p th:text="'Привет, ' + ${title} + '!'" />
<p th:text="'Привет, ' + ${data1} + '!'" />

<div th:each="elements : ${securities}" class="container mt-5">
    <h3 th:text="${elements.tool}"/>
    <h3 th:text="${elements.cost}"/>
</div>

<div class="container mt-5" mb-5>
    <form action="/" method="post">
        <input type="text" name="data_time" placeholder="Введите дату" class="form-control"><br>
        <input type="text" name="tool" placeholder="Введите инструмент" class="form-control"><br>
        <input type="text" name="cost" placeholder="Введите стоимость" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить данные в БД</button>
    </form>
</div>

</body>
</html>